article
  header
    h1 Install haXe and node-js
  .box.clearfix
    #installing-haxe
      h2 Download haXe 2.08
      // [#{haxe_version}]
      ul
        li
          a(href="http://haxe.org/file/hxinst.dmg") OSX Installer
        li 
          a(href="http://haxe.org/file/hxinst-win.exe") Windows Installer
      ul
        li 
          a(href="http://haxe.org/file/hxinst-linux.tgz") Linux Installer
        li
          a(href="http://haxe.org/download") Manual install and more
    #installing-nodejs
      h2 Download node.js 0.6.7
      ul
        li
          a(href="http://nodejs.org/dist/v0.6.7/node-v0.6.7.pkg") OSX Installer
        li
          a(href="http://nodejs.org/dist/v0.6.7/node-v0.6.7.msi") Windows Installer
      ul
        li
          a(href="http://nodejs.org/dist/v0.6.7/node-v0.6.7.tar.gz") Source Code
        li
          a(href="http://nodejs.org/#download") More install options
