!!! 5
//
  [if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]
//
  [if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]
//
  [if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]
//
  [if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title haxenode:haXe->NodeJS
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='stylesheet', href='stylesheets/style.css')
  link(rel='stylesheet', href='stylesheets/haxenode.css')
  link(href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic', rel='stylesheet', type='text/css')
  script(src='javascripts/libs/modernizr-2.0.6.min.js')
body
  #container
    #header-container
      header
        h1#title
          span.visuallyhidden haxenode is nodejs written in haxe
        nav
          ul
            li
              a.scrollinglink(href='#whatishaxenode') What is it?
            li
              a.scrollinglink(href='#download') Download
            li
              a.scrollinglink(href='#installation') Installation
            li
              a(href='https://groups.google.com/forum/#!forum/haxelang', target='_blank') Community
            li
              a(href='http://lib.haxe.org', target='_blank') haXelib
            li
              a(href='http://haxejs.org', target='_blank') haXejs
            li
              a(href='http://haxe.org/doc', target='_blank') Learn
            
      
    #main
      != body
    

  #footer-container
    footer
      ul.wrapper.clearfix
        li
          h3 haXe resources
          ul
            li
              a(href="http://haxe.org") HaXe.org
            li
              a(href="http://haxe.org/api") HaXe api
            li
              a(href="http://lib.haxe.org/") Haxelib
            li
              a(href="http://haxe.org/doc/libraries") Libraries &amp; Frameworks
            li
              a(href="http://haxe.org/doc") Documentation &amp; Tutorials
        li
          h3 node.js resources
          ul
            li
              a(href="http://nodejs.org/") Node.js
            li
              a(href="http://nodejs.org/docs/latest/api/") Node.js api
            li
              a(href="http://search.npmjs.org/") npm packages
            li
              a(href="https://github.com/joyent/node/wiki/modules") More Node.js Modules
            li
              a(href="http://groups.google.com/group/nodejs") Node.js mailing list 
        li
          h3 haxenode resources
          ul
            li
              a(href="http://lib.haxe.org/p/nodejs") nodejs on Haxelib
            li
              a(href="http://lib.haxe.org/t/nodejs") Haxenode Libraries on Haxelib
            li 
              a(href="https://groups.google.com/forum/#!forum/haxe-nodejs") haxenode-js mailing list
            li
              a(href="http://haxe.org/com/ide/textmate") Textmate Bundle
            li
              a(href="http://haxe.org/com/ide") Other IDE/Editors
        li
          h3 haxenode
          ul
            li
              a(href="https://github.com/cloudshift")
                | hx-node is maintained
                br
                | by Ritchie Turner
            li 
              a(href="https://github.com/theRemix/haXenode.org") haxenode.org source
              br
              | by 
              a(href="http://twitter.com/theRemix") @theRemix
            
              
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script
    window.jQuery || document.write('<script src="javascripts/libs/jquery-1.7.1.min.js"><\\/script>')
  script(src='javascripts/plugins.js')
  script(src='javascripts/script.js')
  script
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  //if lt IE 7 
    script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js')
    script
      window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})
</html>