/* @override 
	http://localhost:3117/stylesheets/haxenode.css
	http://haxenode.org/stylesheets/haxenode.css
	http://assets.haxenode.org/stylesheets/haxenode.css
*/

@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic);

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }



/* =============================================================================
   User Styles
   ========================================================================== */


body{
	font-family: 'Cantarell', Helvetica, Helvetica Neue, Arial, sans-serif;
	background: url('http://c3414484.r84.cf0.rackcdn.com/dark_bg.png') #676867;
}
div#container{
	background: url('http://c3414484.r84.cf0.rackcdn.com/light_bg.png');
}

a,a:visited{
	color: #C7C9CC;
	text-decoration: none;
	border-bottom: 1px dotted #C7C9CC;
}
a:hover{
	color: #FCFDFF;
	border-bottom: 1px dotted #ED822F;
}

h1, h2, h3, h4, p, blockquote{
	margin: 0px;
}

p{
	margin-bottom: 12px;
}

h2, div#footer-container h3{
	-webkit-text-shadow: #121212 2px 2px 2px;
	   -moz-text-shadow: #121212 2px 2px 2px;
	        text-shadow: #121212 2px 2px 2px;
}

code, kbd, samp{
  white-space: pre;
}
.comment{
	color: #666;
}


ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}

div#main{
	padding-top: 163px; /* absolute #header-container */
	border-bottom: 10px solid #ED822F;
	-webkit-box-shadow:0 5px 80px 0px #111;
	   -moz-box-shadow:0 5px 80px 0px #111;
	        box-shadow:0 5px 80px 0px #111;

}

div#forkme{
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 2;
}
div#forkme *{
	border: 0px;
}

#header-container{
	background: url('http://c3414484.r84.cf0.rackcdn.com/header.png') repeat-x;
	height:163px;
	width: 100%;
	position: absolute;
	z-index: 1;
	
	-webkit-box-shadow: 0px 5px 60px 0px #212121;
	   -moz-box-shadow: 0px 5px 60px 0px #212121;
	        box-shadow: 0px 5px 60px 0px #212121;
	        
}


h1#title{
	width: 87px;
	height: 124px; /*99px;*/
	margin: auto;
	margin-top: 0px;
	background: url('http://c3414484.r84.cf0.rackcdn.com/logo.png') no-repeat bottom;
	margin-bottom: 14px;
}


header nav{
	margin: auto;
	width: 1040px;
}

header nav ul{
	margin: auto;
	width: 930px;
	padding-top: 4px;
}

header nav ul li{
	display:inline;
}

nav a,nav a:visited{
	padding: 0px 20px;
	color:#DDD; /*#ED822F*/
	text-decoration:none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
	border: 0px solid;
}
nav a:hover{
	color: #FCFDFF;
	border: 0px solid;
}


div.wrapper{
	width: 1040px;
	margin:auto;
}

div#main-content{
	background: #656565; /*676867*/
	padding-bottom: 45px;
}

div#main-content > div.wrapper > div{
	padding-top: 10px;
}


div#haxenodexample{
	
}

div#haxenodexample div.wrapper{
	padding: 65px 0px 50px;
	width: 1040px;
}

div#haxenodexample article{
	background: #212326; /*#3A3A3C;*/
	color: #DDD; /*#A7A9AC;*/
	margin-bottom: 22px;
	width: 506px;
	min-height: 110px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}

div.code{
	padding: 24px 30px;
}

div.code, div#haxenodexample article{
	-webkit-box-shadow: 0px 18px 25px -18px #121212;
	   -moz-box-shadow: 0px 18px 25px -18px #121212;
	        box-shadow: 0px 18px 25px -18px #121212;
}

div#haxenodexample div.code{
	-webkit-box-shadow: 0 0;
	   -moz-box-shadow: 0 0;
	        box-shadow: 0 0;
}


div#haxenodexample article.nodejscode, div#haxexample article.haxecode{
	height: 298px;
}


div#haxenodexample article header{
	background: #666; /*#A7A9AC;*/
	width: 120px;
	float: right;
	background: url('http://c3414484.r84.cf0.rackcdn.com/box_bg.png');
	
	-webkit-border-radius: 0 10px 0 10px;
	   -moz-border-radius: 0 10px 0 10px;
	        border-radius: 0 10px 0 10px;
}

div#haxenodexample article header h2{
	color: #A7A9AC; /*#ED822F;*/ /*#333333;*/
	height: 30px;
	line-height: 32px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}

div#haxexample article header.compile-and-run{
	width: 160px;
}
header.compile-and-run h2{
	width: 160px;
}


div#nodejsexample, div#haxexample{
	
}

div#nodejsexample{
	float: left;
	padding-right: 12px;
}
div#haxexample{
	float: right;
}


div#main article header h1{
	background: url('http://c3414484.r84.cf0.rackcdn.com/h1.png') no-repeat left center;
	height: 38px;
	line-height: 38px;
	text-indent: 30px;
	color: #A7A9AC;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px 0;
}

div.box, div#whyusehaxe ul li{
	background: url('http://c3414484.r84.cf0.rackcdn.com/box_bg.png');
	padding: 30px;
	color: #A7A9AC;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;	
	-webkit-box-shadow: 0px 18px 25px -18px #121212;
	   -moz-box-shadow: 0px 18px 25px -18px #121212;
	        box-shadow: 0px 18px 25px -18px #121212;
}


div.box ul li{
	font-size: 14px;
	padding: 3px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
div.box ul li a, div.box ul li a:visited{
	color: #A7A9AC;
	border: 0px solid;
}
div.box ul li a:hover{
	color: #ED822F;
	border-bottom: 1px dotted #A9ABAD;
}



div.box h2{
	color: #ED822F;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 21px;
	letter-spacing: 1px;
}

div#whatishaxe-left, div#whatishaxe-right{
	width: 490px;
	text-transform: uppercase;
}
div#whatishaxe-left{
	float: left;
}
div#whatishaxe-left div.content-wrapper{
	border-right: 1px solid #1D1D1E;
	margin-top: 20px;
}
div#whatishaxe-left ul{
	width: 163px;
	float: left;
}
div#whatishaxe-left ul:last-child{
	float: right;
}

div#whatishaxe-right{
	float: right;
	width: 456px;
	padding-left: 34px;
}
div#whatishaxe-right span.plus{
	margin-left: 0px;
	margin-right: 8px;
	font-size: 29px;
	line-height: 10px;
}
div#whatishaxe-right div.content-wrapper{
	margin-top: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
}

div#whyusehaxe article header h3{
	color: #3A3A3C;
	margin-top: -25px;
	margin-left: 31px;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
div#whyusehaxe ul li{
	width: 268px;
	height: 170px;
	padding: 20px 30px;
	margin-right: 27px;
	margin-bottom: 24px;
	float: left;
}
div#whyusehaxe ul li.second-row{
	margin-bottom: 0px;
	height: 148px;
}
div#whyusehaxe ul li.third-column{
	margin-right: 0px;
}
div#whyusehaxe ul li h2{
	color: #ED822F;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 1px;
}
div#whyusehaxe ul li hr{
	border-color: #1D1D1E;	
}
div#whyusehaxe ul li p{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: lighter;
	font-size: 13px;
	line-height: 20px;
}


div#download{
	
}
div#download ul{
	width: 227px;
	float: left;
}
div#download ul:last-childe{
	float: right;
}
div#download h2{
	margin-bottom: 20px;	
}

div#installing-haxe, div#installing-nodejs{
	width: 490px;
}
div#installing-haxe{
	float: left;
	border-right: 1px solid #1D1D1E;
}
div#installing-nodejs{
	float: right;
	width: 455px;
	padding-left: 34px;
}
div#installing-haxe ul{
	
}

#download div.box:last-child{
	margin-top: 16px;
}

div#installation{
	
}

div#installation article.haxecode,
div.what_is_pop article{
	background: #212326; /*#3A3A3C;*/
	color: #DDD; /*#A7A9AC;*/
	margin-bottom: 15px;
	width: auto;
	min-height: 110px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}


div#installation article.haxecode header,
div.what_is_pop article header{
	background: #666; /*#A7A9AC;*/
	width: auto;
	padding: 0 20px;
	float: right;
	background: url('http://c3414484.r84.cf0.rackcdn.com/box_bg.png');
	
	-webkit-border-radius: 0 10px 0 10px;
	   -moz-border-radius: 0 10px 0 10px;
	        border-radius: 0 10px 0 10px;
}

div#installation article.haxecode header h2,
div.what_is_pop article header h2{
	color: #A7A9AC; /*#ED822F;*/ /*#333333;*/
	height: 30px;
	line-height: 32px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}



div#footer-container{
	height:240px;
	border-top:1px solid #b66127;
}

div#footer-container > footer > ul{
	width: 1040px;
	margin: auto;
	margin-top: 30px;
}
div#footer-container > footer > ul > li{
	width: 210px; /*260px;*/
	padding: 25px;
	float: left;
}
div#footer-container > footer > ul > li >ul{
	
}

div#footer-container > footer > ul > li > ul > li{
	color: #A7A9AC;
	font-weight: lighter;
	font-size: 14px;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 13px;
	
}
div#footer-container > footer > ul > li:last-child > ul > li{
	margin-bottom: 10px;
}

div#footer-container > footer > ul > li > h3{
	color: #ED822F;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 1px;
	margin-bottom: 14px;
}

div#footer-container > footer > ul > li > ul > li > a,
div#footer-container > footer > ul > li > ul > li > a:visited{
	color: #A7A9AC;
	border: 0px solid;
}

div#footer-container > footer > ul > li > ul > li > a:hover{
	color: #ED822F;
	border-bottom: 1px dotted #A9ABAD;
}

/* interactive elements */

div.what_is_pop{
	position: absolute;
	margin-left: 540px;
	top: 760px;
	display: none;
}
div.what_is_pop article{
	width: 480px;
}
div.what_is_pop article, div.what_is_pop article div.code{
	min-height: 230px;
}
div.what_is_pop article div.code{
	padding: 36px 30px;
}
div.what_is_pop blockquote{
	margin-top: 5px;
	margin-bottom: 12px;
	color: #999;
	font-weight: lighter;
	font-size: 14px;
	line-height: 19px;
	width: 420px;
}
div.what_is_pop article div.code ul li{
	margin-bottom: 10px;
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.code p{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 13px;
}
