/* @override http://localhost:3117/stylesheets/haxenode.css */


body{
	font-family: 'Cantarell', Helvetica, Helvetica Neue, Arial, sans-serif;
	background: url('/images/dark_bg.png') #676867;
}
div#container{
	background: url('/images/light_bg.png');
}

a,a:visited{
	color: #C7C9CC;
	text-decoration: none;
	border-bottom: 1px dotted #C7C9CC;
}
a:hover{
	color: #FCFDFF;
	border-bottom: 1px dotted #ED822F;
}

h1, h2, h3, h4, p, blockquote{
	margin: 0px;
}

p{
	margin-bottom: 12px;
}

h2, div#footer-container h3{
	-webkit-text-shadow: #121212 2px 2px 2px;
	   -moz-text-shadow: #121212 2px 2px 2px;
	        text-shadow: #121212 2px 2px 2px;
}

code, kbd, samp{
  white-space: pre;
}
.comment{
	color: #666;
}


ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}

div#main{
	padding-top: 163px; /* absolute #header-container */
	border-bottom: 10px solid #ED822F;
	-webkit-box-shadow:0 5px 80px 0px #111;
	   -moz-box-shadow:0 5px 80px 0px #111;
	        box-shadow:0 5px 80px 0px #111;

}

#header-container{
	background: url('/images/header.png') repeat-x;
	height:163px;
	width: 100%;
	position: absolute;
	
	-webkit-box-shadow: 0px 5px 60px 0px #212121;
	   -moz-box-shadow: 0px 5px 60px 0px #212121;
	        box-shadow: 0px 5px 60px 0px #212121;
	        
}


h1#title{
	width: 87px;
	height: 124px; /*99px;*/
	margin: auto;
	margin-top: 0px;
	background: url('/images/logo.png') no-repeat bottom;
	margin-bottom: 14px;
}


header nav{
	margin: auto;
	width: 1040px;
}

header nav ul{
	margin: auto;
	width: 911px;
	padding-top: 4px;
}

header nav ul li{
	display:inline;
}

nav a,nav a:visited{
	padding: 0px 20px;
	color:#3A3A3C;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	border: 0px solid;
}
nav a:hover{
	border: 0px solid;
}


div.wrapper{
	width: 1040px;
	margin:auto;
}

div#main-content{
	background: #676867;
	padding-bottom: 45px;
}

div#main-content > div.wrapper > div{
	padding-top: 10px;
}


div#haxenodexample{
	
}

div#haxenodexample div.wrapper{
	padding: 65px 0px 50px;
	width: 1040px;
}

div#haxenodexample article{
	background: #212326; /*#3A3A3C;*/
	color: #DDD; /*#A7A9AC;*/
	margin-bottom: 22px;
	width: 506px;
	min-height: 110px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}

div.code{
	padding: 24px 30px;
}

div.code, div#haxenodexample article{
	-webkit-box-shadow: 0px 18px 25px -18px #121212;
	   -moz-box-shadow: 0px 18px 25px -18px #121212;
	        box-shadow: 0px 18px 25px -18px #121212;
}

div#haxenodexample div.code{
	-webkit-box-shadow: 0 0;
	   -moz-box-shadow: 0 0;
	        box-shadow: 0 0;
}


div#haxenodexample article.nodejscode, div#haxexample article.haxecode{
	height: 298px;
}


div#haxenodexample article header{
	background: #666; /*#A7A9AC;*/
	width: 120px;
	float: right;
	background: url('/images/box_bg.png');
	
	-webkit-border-radius: 0 10px 0 10px;
	   -moz-border-radius: 0 10px 0 10px;
	        border-radius: 0 10px 0 10px;
}

div#haxenodexample article header h2{
	color: #A7A9AC; /*#ED822F;*/ /*#333333;*/
	height: 30px;
	line-height: 32px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}

div#haxexample article header.compile-and-run{
	width: 160px;
}
header.compile-and-run h2{
	width: 160px;
}


div#nodejsexample, div#haxexample{
	
}

div#nodejsexample{
	float: left;
}
div#haxexample{
	float: right;
}


div#main article header h1{
	background: url('/images/h1.png') no-repeat left center;
	height: 38px;
	line-height: 38px;
	text-indent: 30px;
	color: #A7A9AC;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px 0;
}

div.box, div#whyusehaxe ul li{
	background: url('/images/box_bg.png');
	padding: 30px;
	color: #A7A9AC;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;	
	-webkit-box-shadow: 0px 18px 25px -18px #121212;
	   -moz-box-shadow: 0px 18px 25px -18px #121212;
	        box-shadow: 0px 18px 25px -18px #121212;
}


div.box ul li{
	font-size: 14px;
	padding: 3px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
div.box ul li a, div.box ul li a:visited{
	color: #A7A9AC;
	border: 0px solid;
}
div.box ul li a:hover{
	color: #ED822F;
	border-bottom: 1px dotted #A9ABAD;
}



div.box h2{
	color: #ED822F;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
}

div#whatishaxe-left, div#whatishaxe-right{
	width: 490px;
	text-transform: uppercase;
}
div#whatishaxe-left{
	float: left;
}
div#whatishaxe-left div.content-wrapper{
	border-right: 1px solid #1D1D1E;
	margin-top: 20px;
}
div#whatishaxe-left ul{
	width: 163px;
	float: left;
}
div#whatishaxe-left ul:last-child{
	float: right;
}

div#whatishaxe-right{
	float: right;
	width: 456px;
	padding-left: 34px;
}
div#whatishaxe-right span.plus{
	margin-left: 0px;
	margin-right: 8px;
	font-size: 26px;
	line-height: 10px;
}
div#whatishaxe-right div.content-wrapper{
	margin-top: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
}

div#whyusehaxe article header h3{
	color: #3A3A3C;
	margin-top: -25px;
	margin-left: 31px;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}
div#whyusehaxe ul li{
	width: 268px;
	height: 170px;
	padding: 20px 30px;
	margin-right: 27px;
	margin-bottom: 24px;
	float: left;
}
div#whyusehaxe ul li.second-row{
	margin-bottom: 0px;
	height: 148px;
}
div#whyusehaxe ul li.third-column{
	margin-right: 0px;
}
div#whyusehaxe ul li h2{
	color: #ED822F;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1px;
}
div#whyusehaxe ul li hr{
	border-color: #1D1D1E;	
}
div#whyusehaxe ul li p{
	font-weight: lighter;
	font-size: 14px;
	line-height: 20px;
}


div#download{
	
}
div#download ul{
	width: 227px;
	float: left;
}
div#download ul:last-childe{
	float: right;
}
div#download h2{
	margin-bottom: 20px;	
}

div#installing-haxe, div#installing-nodejs{
	width: 490px;
}
div#installing-haxe{
	float: left;
	border-right: 1px solid #1D1D1E;
}
div#installing-nodejs{
	float: right;
	width: 455px;
	padding-left: 34px;
}
div#installing-haxe ul{
	
}

#download div.box:last-child{
	margin-top: 16px;
}

div#installation{
	
}

div#installation article.haxecode,
div.what_is_pop article{
	background: #212326; /*#3A3A3C;*/
	color: #DDD; /*#A7A9AC;*/
	margin-bottom: 15px;
	width: auto;
	min-height: 110px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}


div#installation article.haxecode header,
div.what_is_pop article header{
	background: #666; /*#A7A9AC;*/
	width: auto;
	padding: 0 20px;
	float: right;
	background: url('/images/box_bg.png');
	
	-webkit-border-radius: 0 10px 0 10px;
	   -moz-border-radius: 0 10px 0 10px;
	        border-radius: 0 10px 0 10px;
}

div#installation article.haxecode header h2,
div.what_is_pop article header h2{
	color: #A7A9AC; /*#ED822F;*/ /*#333333;*/
	height: 30px;
	line-height: 32px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}



div#footer-container{
	height:240px;
	border-top:1px solid #b66127;
}

div#footer-container > footer > ul{
	width: 1040px;
	margin: auto;
	margin-top: 30px;
}
div#footer-container > footer > ul > li{
	width: 210px; /*260px;*/
	padding: 25px;
	float: left;
}
div#footer-container > footer > ul > li >ul{
	
}

div#footer-container > footer > ul > li > ul > li{
	color: #A7A9AC;
	font-weight: lighter;
	font-size: 14px;
	line-height: 20px;
	
}
div#footer-container > footer > ul > li:last-child > ul > li{
	margin-bottom: 10px;
}

div#footer-container > footer > ul > li > h3{
	color: #ED822F;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1px;
	margin-bottom: 14px;
}

div#footer-container > footer > ul > li > ul > li > a,
div#footer-container > footer > ul > li > ul > li > a:visited{
	color: #A7A9AC;
	border: 0px solid;
}
div#footer-container > footer > ul > li > ul > li > a:hover{
	color: #ED822F;
	border-bottom: 1px dotted #A9ABAD;
}

/* interactive elements */

div.what_is_pop{
	position: absolute;
	margin-left: 540px;
	top: 760px;
}
div.what_is_pop article{
	width: 480px;
}
div.what_is_pop article, div.what_is_pop article div.code{
	min-height: 230px;
}
div.what_is_pop article div.code{
	padding: 36px 30px;
}
div.what_is_pop blockquote{
	margin-top: 5px;
	margin-bottom: 12px;
	color: #999;
	font-weight: lighter;
	font-size: 14px;
	line-height: 19px;
}
div.what_is_pop article div.code ul li{
	margin-bottom: 10px;
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
