upstream haxenodeapp {
  server 127.0.0.1:3117;
}

server {
  listen 0.0.0.0:80;
  server_name www.haxenode.org haxenode.org;
  access_log /var/log/nginx/haxenode.org.log;
  add_header 'X-UA-Compatible' 'IE=EmulateIE7';
  
  location /images/ {
    rewrite ^/images/(.*)$ http://assets.haxenode.org/images/$1;
  }

  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;

    proxy_pass http://haxenodeapp;
    proxy_redirect off;

    if ($request_uri ~* "\.(ico|gif|png|jpe?g|css|js|swf)(\?v\d\d?\.\d\d?\.\d\d?)?$") {
      expires max;
      break;
    }

  }
}

server {
  listen 0.0.0.0:80;
  server_name assets.haxenode.org;
  access_log /var/log/nginx/assets.haxenode.org.log;
  root /var/www/haxenode.org/public;
  expires max;
 
  try_files $uri $uri/ /clear.gif;
 
  location = /clear.gif {
    empty_gif;
  }

  location /images/ {
    rewrite ^/images/(.*)$ http://c3414484.r84.cf0.rackcdn.com/$1;
  }  

}